* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}


body {
    display: flex;
    background-color: hsl(0, 0%, 8%);
    height:  100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    background-color: hsl(0, 0%, 12%);
    height: 75%;
    width: 318px;
    padding: 1.5rem;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: white;
    border-radius: 1em;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
}
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.section-1 img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 1em;
}

.section-1 h1{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}
.section-1 p {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
}

main > p {
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30em;
    /* border: 1px dotted red; */
}

.section-2 button {
    color: white;
    font-family: 'Inter', sans-serif;
    background-color:  hsl(0, 0%, 20%);
    height: 15%;
    border: none;
    border-radius: .5em;
    font-size: 15px;
    font-weight: 500;
}

.attribution {
    color: white;
}